# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# model weights
*.pt
*.pth


# Distribution / packaging
datasets/*
datasets/VOC/*
notebooks/runs
data
notebooks/runs
# exception to the rule

!datasets/VOC/
!datasets/VOC/VOC.yaml

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.idea
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
